<div class="options text-center text-white">
    <input name="vorige" type="submit" value="Vaak" class="btn btn-outline-light py-3 px-5 selectInput">
    <input name="vorige" type="submit" value="Soms" class="btn btn-outline-light py-3 px-5 selectInput">
    <input name="vorige" type="submit" value="Nooit" class="btn btn-outline-light py-3 px-5 selectInput">
    <input name="vorige" type="submit" value="Wil ik liever niet zeggen" class="btn btn-outline-light mt-5 p-5 selectInput anonymous" style="display: flex; justify-content: center; align-items: center; margin: 0 auto;">
</div>