{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<div class="container py-5">

{{ form_start(our_form) }}
{{ form_widget(our_form) }}
<div class="form-group row">
    <label class="col-form-label col-sm-2 form-control-label required"
           for="contact_name">
       Name
   </label>

    <div class="col-sm-10">
        <input type="text"
               id="contact_name"
               name="contact[name]"
               required="required"
               class="form-control"
       />
   </div>
</div>
<input type="submit" value="Send" class="btn btn-success" />

{{ form_end(our_form) }}
</div>
{% endblock %}
