<h2>Beste klant</h2>

<p></p>

<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Amount</th>
    </tr>
    {% for product in Products %}
    <tr>
        <td>
            <h6 data-th="Product">{{ product.Product.name }}</h6>
        </td>
        <td data-th="Price">$ <span>{{ product.Product.price }}</span></td>
        <td data-th="Quantity">$ <p class="text-center form-control">{{ product.Product.price }}</p></td>
    </tr>
    {% endfor %}
</table>